<ul class="nav flex-row">
  <!-- Navbar items -->
  <!-- Add more sidebar items as needed -->
  <li class="nav-item">
    <a class="nav-link" href="#"> My Tasks </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Tuner </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Metronome </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Documents </a>
  </li>
</ul>
