<ul class="nav flex-row">
  <!-- Navbar items -->
  <li class="nav-item">
    <a class="nav-link" href="/profile/teacher"> My Profile </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/tasksFeed"> All Tasks </a>
  </li>
  <!-- Add more sidebar items as needed -->
  <li class="nav-item">
    <a class="nav-link" href="#"> My Calendar </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> My Students </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Tuner </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Metronome </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Documents </a>
  </li>
</ul>
