<!-- sidebar.ejs -->

<!-- Sidebar Navigation -->
<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
  <div class="position-sticky">
    <div class="text-center mt-3">
      <img src="/imgs/MusRoom.png" alt="logo" width="100px" />
      <h3>MusRoom</h3>
      <span>Private Lessons Workshop</span>
    </div>
    <hr />

    <!--DISPLAY USER'S INFO-->
    <div>
      <p><strong>Email</strong>: <%= user.email %></p>
      <p><strong>Username</strong>: <%= user.userName %></p>
      <p><strong>Role</strong>: <%= user.role %></p>
      <!--Class Code-->
      <p><strong>Class Code</strong>: <%= user.classCode %></p>
      <!--LOGOUT-->
      <a href="/logout" class="col-3 mb-5 btn btn-primary">Logout</a>
    </div>
  </div>
</nav>
