<%- include("partials/header") -%>
<header class="container mt-3">
  <div class="text-center">
    <img src="/imgs/MusRoom.png" alt="logo" width="200px" />
    <h1>MusRoom</h1>
    <span>"Private Lessons Workshop"</span>
  </div>
</header>

<main class="container">
  <div class="row justify-content-around mt-5">
    <a href="/login" class="col-3 btn btn-primary">Login</a>
    <a href="/signup" class="col-3 btn btn-primary">Signup</a>
  </div>
</main>

<%- include("partials/footer") -%>
