<%- include('partials/header') -%>
<div class="container-fluid">
  <div class="row">
    <!--SideBar-->
    <%- include('partials/sidebar') -%>

    <!--Main Content-->
    <main class="col-md-9 col-lg10-px-md-4 mt-4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!--Fetch Students-->
            <div class="col-6">
              <h4>Students in My Class</h4>
              <ul class="row list-unstyled studentsDisplay">
                <% for(let i = 0; i < students.length; i++) {%>
                <li class="col-6 justify-content-between mt-3">
                  <a href="/profile/student/<%= students[i]._id %>">
                    <img
                      class="image-fluid"
                      src="/imgs/user-icon.png"
                      alt="User Icon"
                      width="100px"
                      height="100px"
                    />
                    <p><%= students[i].userName %></p>
                  </a>
                </li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
