/* BODY */
body {
  background-color: rgba(250, 250, 210, 0.49);
}

main {
  padding-bottom: 20px;
}

/* SIDEBAR */

#sidebar {
  background-color: rgba(252, 252, 234, 0.49);
  border-right: 1px solid lightgray;
}

/* Custom CSS to style the toggle button */

/* Custom CSS to collapse the UL when the button is clicked */

/* BUTTONS */
.btn,
.btn-primary {
  background-color: coral;
  border: none;
}

.btn:hover,
.btn-primary:hover {
  background-color: chocolate;
}

.custom-input-group {
  max-width: 250px;
}

.tasksDisplay {
  text-align: center;
}

.studentsDisplay {
  text-align: center;
}
